# Configuration file

"race main attribute" {
    # Server Sided! DBC Half-Saiyan Attribute Multiplier. (From -100000 to 100000).
    S:"DBC Half-Saiyan MartialArtist Attribute Multiplier" <
        STR 1.0
        DEX 1.0
        CONS 1.0
        WILL 1.0
        MIND 1.0
        SPI 1.0
     >

    # Server Sided! DBC Half-Saiyan Starting Attribute. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan MartialArtist Starting Attribute" <
        STR 10
        DEX 10
        CONS 10
        WILL 15
        MIND 10
        SPI 5
     >

    # Server Sided! DBC Half-Saiyan Stat Bonus. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan MartialArtist Stat Bonus" <
        Melee 15
        Defense 0
        Body 0
        Stamina 15
        EnergyPower 15
        EnergyPool 5
        MaxSkills 0
        Speed 5
        RegenRateBody 0
        RegenRateStamina 0
        RegenRateEnergy 0
        FlySpeed 5
     >

    # Server Sided! DBC Half-Saiyan Stat Multiplier from Attribute. (From -100000 to 100000).
    S:"DBC Half-Saiyan MartialArtist Stat Multiplier from Attribute" <
        Melee 2.5
        Defense 4.0
        Body 20.0
        Stamina 3.5
        EnergyPower 5.2
        EnergyPool 40.0
        MaxSkills 0.15
        Speed 1.0
        RegenRateBody 1.0
        RegenRateStamina 1.0
        RegenRateEnergy 1.0
        FlySpeed 1.0
     >

    # Server Sided! DBC Half-Saiyan Attribute Multiplier. (From -100000 to 100000).
    S:"DBC Half-Saiyan Spiritualist Attribute Multiplier" <
        STR 1.0
        DEX 1.0
        CONS 1.0
        WILL 1.0
        MIND 1.0
        SPI 1.0
     >

    # Server Sided! DBC Half-Saiyan Starting Attribute. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Spiritualist Starting Attribute" <
        STR 10
        DEX 10
        CONS 10
        WILL 15
        MIND 10
        SPI 5
     >

    # Server Sided! DBC Half-Saiyan Stat Bonus. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Spiritualist Stat Bonus" <
        Melee 5
        Defense 10
        Body -10
        Stamina 5
        EnergyPower 25
        EnergyPool 15
        MaxSkills 0
        Speed 15
        RegenRateBody -10
        RegenRateStamina -10
        RegenRateEnergy 10
        FlySpeed 15
     >

    # Server Sided! DBC Half-Saiyan Stat Multiplier from Attribute. (From -100000 to 100000).
    S:"DBC Half-Saiyan Spiritualist Stat Multiplier from Attribute" <
        Melee 2.5
        Defense 4.0
        Body 20.0
        Stamina 3.5
        EnergyPower 5.2
        EnergyPool 40.0
        MaxSkills 0.15
        Speed 1.0
        RegenRateBody 1.0
        RegenRateStamina 1.0
        RegenRateEnergy 1.0
        FlySpeed 1.0
     >

    # Server Sided! DBC Half-Saiyan Attribute Multiplier. (From -100000 to 100000).
    S:"DBC Half-Saiyan Warrior Attribute Multiplier" <
        STR 1.0
        DEX 1.0
        CONS 1.0
        WILL 1.0
        MIND 1.0
        SPI 1.0
     >

    # Server Sided! DBC Half-Saiyan Starting Attribute. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Warrior Starting Attribute" <
        STR 10
        DEX 10
        CONS 10
        WILL 15
        MIND 10
        SPI 5
     >

    # Server Sided! DBC Half-Saiyan Stat Bonus. (From -1000000000 to 1000000000).
    S:"DBC Half-Saiyan Warrior Stat Bonus" <
        Melee 25
        Defense -10
        Body 10
        Stamina 25
        EnergyPower 5
        EnergyPool -5
        MaxSkills 0
        Speed -5
        RegenRateBody 10
        RegenRateStamina 10
        RegenRateEnergy -10
        FlySpeed -5
     >

    # Server Sided! DBC Half-Saiyan Stat Multiplier from Attribute. (From -100000 to 100000).
    S:"DBC Half-Saiyan Warrior Stat Multiplier from Attribute" <
        Melee 2.5
        Defense 4.0
        Body 20.0
        Stamina 3.5
        EnergyPower 5.2
        EnergyPool 40.0
        MaxSkills 0.15
        Speed 1.0
        RegenRateBody 1.0
        RegenRateStamina 1.0
        RegenRateEnergy 1.0
        FlySpeed 1.0
     >
}


