# Configuration file

##########################################################################################################
# biomes
#--------------------------------------------------------------------------------------------------------#
# Manually change the environmental properties of each biome
##########################################################################################################

biomes {

    "Basalt Deltas" {
        I:"01.Biome ID"=3175
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=45.0
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=-0.1
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=-0.1
    }

    "Crimson Forest" {
        I:"01.Biome ID"=3176
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=45.0
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=-0.1
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=-0.1
    }

    "Soul Sand Valley" {
        I:"01.Biome ID"=3177
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=45.0
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=-0.1
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=-0.1
    }

    "Warped Forest" {
        I:"01.Biome ID"=3178
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=45.0
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=-0.1
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=-0.1
    }

    "Foxfire Swamp" {
        I:"01.Biome ID"=3179
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=45.0
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=-0.1
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=-0.1
    }

    "Crystalline Crag" {
        I:"01.Biome ID"=3180
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=45.0
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=-0.1
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=-0.1
    }

    "Abyssal Shadowland" {
        I:"01.Biome ID"=3181
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=45.0
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=-0.1
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=-0.1
    }

    "Ruptured Chasm" {
        I:"01.Biome ID"=3182
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=45.0
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=-0.1
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=-0.1
    }

}


