# Configuration file

bonuses {
    # With this option; arrows have a chance to deflect off armour. It compares the arrow damage and armour rating. Chain and plate have higher rates. Arrows bounced off can hurt enemies
    B:"Deflect Arrows"=true

    # This modifies the chance for arrows to deflect off armour: Increasing this increases the deflect chance, decreasing decreases the chance, 0 means it's impossible
    D:"Deflect Arrows Modifier"=1.0
}


"cogwork features" {
    # Modify the relative armour rating of cogwork armour
    D:"Cogwork Armour Modifier"=1.0

    # Modify the relative durability of cogwork armour
    D:"Cogwork Durability Modifier"=1.0

    # Modify the amount of fuel added to cogworks
    D:"Cogwork Fuel Modifier"=1.0

    # Should cogwork armour cause envionmental damage when impact landing
    B:"Cogwork Grief"=true

    # -1: can't wear armour with cogwork, 0=Can enter cogwork with light armour, 1=can enter with medium, 2=can enter in any armour
    I:"Worn Apparel Restrict"=0
}


misc {
    # Allows config for indirect projectiles, disable if you get problems when getting hit by modded projectiles
    B:"Use config indrect damage"=true
}


penalties {
    # With this: Heavier armours slow your movement down acrosss both walking and sprinting. Speed is affected by design and material
    B:"Armour Slow Movement"=true

    # The minimal speed percent capable from weight (10 = 10%), MF armours don't go lower than 75% anyway
    D:"Min armour weigh speed"=10.0

    # A modifier for the rate armours slow down movement, increasing this slows you more, decreasing it slows less, just keep it above 0
    D:"Slowdown Rate"=1.0
}


