# Configuration file

plugins {
    # EnderStoragePlugin : Whether or not to invoke plugin for EnderStorage.
    B:EnderStorage=true

    # MekanismPlugin : Whether or not to invoke plugin for Mekanism Community Edition.
    B:Mekanism=true

    # TinkersConstructPlugin : Whether or not to invoke plugin for Tinkers' Construct.
    B:TConstruct=true

    # ThaumcraftPlugin : Whether or not to invoke plugin for Thaumcraft.
    B:Thaumcraft=true

    # NEIPlugin : Whether or not to invoke plugin for NotEnoughItems.
    B:NotEnoughItems=true
}


