# Configuration file

biomes {
    # Change the internal ID of this biome. WARNING: Changing a biome ID will prevent existing worlds from loading.
    I:acheron=224

    # Change the internal ID of this biome. WARNING: Changing a biome ID will prevent existing worlds from loading.
    I:varda_badlands=223

    # Change the internal ID of this biome. WARNING: Changing a biome ID will prevent existing worlds from loading.
    I:varda_forest=229
}


dimensions {
    # Change the internal ID of this dimension. WARNING: Changing a dimension ID will prevent existing worlds from loading.
    I:acheron=426

    # Change the internal ID of this dimension. WARNING: Changing a dimension ID will prevent existing worlds from loading.
    I:varda=223
}


general {
    # If disabled, no mobs from this mod will spawn.
    B:auto_spawning=true

    # Toggle the built in debugging tools. Used primarily in development environments.
    B:debug_tools=false

    # If disabled, all explosions triggered by this mod will be cancelled.
    B:explosion_block_damage=true

    # Change the default volume of this mod's sounds. EXAMPLE: 100 = 100% Volume, 50 = 50% Volume, 150 = 150% Volume
    I:global_volume=75

    # If disabled, no mature alien states will spawn naturally.
    B:mature_spawns=true

    # If disabled, you will not be allowed to use any nuke-based functionality.
    B:nukes=true

    # If disabled, no mobs from this mod will spawn in the overworld.
    B:overworld_spawning=true

    # If enabled, a plasma cannon's projectiles will explode upon impact.
    B:plasma_cannon_explosions=false

    # Toggle the mod's update checking capabilities. Will not check for new updates if disabled.
    B:updater=true
}


graphics {
    # Turns blood particle effects on or off.
    B:blood_fx=true

    # The visual complexity and detail of xenomorph hives.
    I:hive_tessellation=3
}


