# Configuration file

alternative_chunkloading {
    # When "disableChunkLoadingOnRequest" is true then this option helps that chunk load tickets continue to load the target chunk automatically. Otherwise such tickets are useless and chunkloaders too. You may want to disable this if your Chunkloader mod can that too (probably not). [default: true]
    B:autoLoadChunksOnTicketCreation=true

    # Dimension that should be ignored. Write down the id of the dimension. [default: []]
    I:dimensionBlacklist <
     >

    # Tread "dimensionBlacklist" as whitelist. [default: false]
    B:dimensionBlacklistAsWhitelist=false

    # Disables the alternative chunkloading feature for the population phase while world generation. If you turn this option off, sometimes you might notice broken structures. [default: true]
    B:disableForPopulation=true

    # The master switch for alternative chunkloading. If true, the option "loadChunkOnProvideRequest" on server worlds to not load chunks whenever they are maybe requested will be turned off. Also other options in this category will then take affect. [default: true]
    B:enable=true

    # Provider that should be ignored. Write down the full class name (includes the package name). [default: ]
    S:providerBlacklist <
     >

    # Tread "providerBlacklist" as whitelist. [default: false]
    B:providerBlacklistAsWhitelist=false

    # Ticks before a chunk should be loaded or unloaded after a chunkload ticket as been created or removed. Only has affect if "autoLoadChunksOnTicketCreation" is active. [range: -2147483648 ~ 2147483647, default: 20]
    I:ticksBeforeLoadChunk=20
}


auto_unload_dims {
    # Dimensions that should be ignored. [default: []]
    I:dimensionBlacklist <
     >

    # Tread "dimensionBlacklist" as whitelist. [default: false]
    B:dimensionBlacklistAsWhitelist=false

    # Automatically unload dimensions if there is no chunk loaded. [default: true]
    B:enabled=true

    # Provider that should be ignored. Write down the full class name (includes the package name). [default: ]
    S:providerBlacklist <
     >

    # Tread "providerBlacklist" as whitelist. [default: false]
    B:providerBlacklistAsWhitelist=false

    # Ticks before a chunk should be loaded or unloaded after a chunkload ticket as been created or removed. Only has affect if "enabled" is active. [range: -2147483648 ~ 2147483647, default: 1200]
    I:ticksBeforeUnloadDimension=1200
}


fixes {
    # Adds compatibility with Dimensional Doors. [default: true]
    B:fixDimDoorsCompatibility=true

    # Adds a missing null check to Erebus. [default: true]
    B:fixErebusNullChecks=true

    # Load chunk before generating nether portal blocks. [default: true]
    B:fixVanillaNetherPortalGeneration=true
}


general {
}


