# Configuration file

general {
    # Whether to enable recipes in the mod. [default: true]
    B:enableRecipes=true

    # The maximum speed that the globe can spin. [range: 0.0 ~ 3.4028235E38, default: 35.0]
    S:globeMaxSpeed=35.0

    # The speed added to the globe every time a player spins it. [range: 0.0 ~ 10.0, default: 4.0]
    S:globeSpeedAcceleration=4.0

    # The speed that the globe decelerate every tick. [range: 0.0 ~ 10.0, default: 0.15]
    S:globeSpeedDeceleration=0.15

    # Whether to render blocks with Ambient Occlusion. [default: true]
    B:renderWithAmbientOcclusion=true

    # List of items that should be whitelisted for tools-exclusive blocks (Like the Rack and Pedestal). [default: [minecraft:stick], [minecraft:arrow]]
    S:toolsWhitelist <
        minecraft:stick
        minecraft:arrow
     >
}


