# Configuration file

general {
    #  [default: yyyy-MM-dd]
    S:date_format=yyyy-MM-dd

    #  [range: 10 ~ 1024, default: 30720]
    I:max_filesize_kb=30720

    #  [range: 64 ~ 128, default: 64]
    I:max_image_size=64

    #  [default: false]
    B:simple_recipes=false
}


##########################################################################################################
# paintings
#--------------------------------------------------------------------------------------------------------#
# Each array entry is expected to have the following format.
# All fields are required, even if blank. Fields with [*] are an exception and can't be empty
# 
#     File name [*] (only PNG files are accepted)
#     UUID (each entry must have a unique value. leave blank and the mod will create a new UUID)
#     Enabled (1 or 0) [*]
#     File size, in bytes (only numbers) [*]
#     Painting title
#     Author's name
#     Creation date (format yyyy-MM-dd)
#     Last update date (format yyyy-MM-dd)
#     Image width, in pixels
#     Image height, in pixels
# 
##########################################################################################################

paintings {
}


