# Configuration file

general {
    # Disabling Teleporter wand from Farlanders causing infinite loop (https://github.com/quentin452/privates-minecraft-modpack/issues/917)
    # [default: true]
    B:enableMixinItemMysticWandTeleport=true
}


