# Configuration file

##########################################################################################################
# config_engine
#--------------------------------------------------------------------------------------------------------#
# Settings for the FPLib config system (also used by other mods)
##########################################################################################################

config_engine {
    # How the config error logging should be set up.
    # [default: Log, possible values: [None, Log, LogAndToast]]
    S:configErrorLogging=Log

    # How successful config synchronizations should be logged.
    # [default: Log, possible values: [None, Log, LogAndToast]]
    S:configSyncSuccessLogging=Log

    # How failed config synchronizations should be logged.
    # [default: LogAndToast, possible values: [None, Log, LogAndToast]]
    S:configSyncFailureLogging=LogAndToast
}


misc {
    B:inGameModOptionsFix=true
}


toasts {
    S:align=Right
    I:maxVisible=5
    I:yOffset=0
}


