# Configuration file

calibration {
    # Modifies the way ambient occlusion alignment is calculated. Used for compatibility purposes,
    # because different graphics cards have different ways of processing quads.
    # This is useful when quad triangulation is disabled for compatibility reasons.
    # [default: false]
    B:FLIP_DIAGONALS=false

    # The SHA256 hash of the graphics card that this calibration was configured for.
    # [default: undefined]
    S:GPU_HASH=undefined
}


