# Configuration file

general {
    # set to false to deactivate familiars abilities [default: true]
    B:abilitiesEnabledGlobal=true

    # key-code for enabling/disabling familiars abilities, only affects the player (see http://minecraft.gamepedia.com/Key_codes) [range: 0 ~ 250, default: 35]
    I:abilityKey=35

    # set to false, to turn off updatechecker [default: true]
    B:checkForUpdates=false
}


