# Configuration file

configuration {

    biome {
        I:"Biome ID Phantasia (100)"=100
    }

    flowerperchunck {
        I:"flowerPerChunk FOREST (10)"=10
        I:"flowerPerChunk HILLS (10)"=10
        I:"flowerPerChunk JUNGL (0)"=0
        I:"flowerPerChunk MESA (0)"=0
        I:"flowerPerChunk MOUNTAIN (10)"=10
        I:"flowerPerChunk MUSHROOM (0)"=0
        I:"flowerPerChunk PLAINS (10)"=10
        I:"flowerPerChunk PhantasiaBiome (80)"=100
        I:"flowerPerChunk SAVANNA (0)"=0
        I:"flowerPerChunk SNOWY (0)"=0
        I:"flowerPerChunk SPOOKY (0)"=0
        I:"flowerPerChunk SWAMP (0)"=0
        I:"flowerPerChunkSANDY (0)"=0
    }

}


