# Configuration file

general {
    # How shall I greet? [default: Hello World]
    S:greeting=Hello World

    # Enable data-driven natural spawning of data mobs (per-mob 'spawn' rules). Disable to /spawn only. [default: true]
    B:naturalSpawns=true
}


