# Configuration file

general {
    # Enable HUD caching for improved performance. Renders HUD elements once per multiple frames and reuses the result. [default: true]
    B:enableHudCaching=true

    # The amount of frames to wait before updating the HUD elements. Higher values = better performance but less responsive HUD. [range: 1 ~ 60, default: 20]
    I:hudCachingFPS=20
}


