# Configuration file

general {
    # Enables effect status HUD [default: true]
    B:effectsHudRendering=true

    # Whether to show potion effect times [default: true]
    B:effectsHudTime=true

    # Enables the main HUD [default: true]
    B:hudRendering=true

    # HUD scale modifier [range: 0.0 ~ 10.0, default: 1.0]
    S:hudScale=1.0

    # Enables enhanced trading GUI
    # Similar to 1.14+ [default: true]
    B:tradingHudRendering=true
}


lines {
    # Display your block position [default: true]
    B:infoBlockPos=true

    # Display the sub-chunk position
    # Merged with "infoBlockPos" [default: false]
    B:infoChunkPos=false

    # Display your computer's date and time [default: true]
    B:infoCurrentTime=true

    # Display your direction [default: true]
    B:infoFacing=true

    # Display your current FPS [default: true]
    B:infoFps=true

    # Display the block/sky light level [default: false]
    B:infoLightLevel=false

    # Display the position of the block you're looking at [default: false]
    B:infoLookingAtBlock=false

    # Display mob caps [default: false]
    B:infoMobCaps=false

    # Display your ping in servers [default: false]
    B:infoPing=false

    # Display the region file name
    # Merged with "infoBlockPos" [default: false]
    B:infoRegionFile=false

    # Display the world seed [default: false]
    B:infoSeed=false

    # Display slime chunks [default: false]
    B:infoSlime=false

    # Display TPS and MSPT [default: false]
    B:infoTps=false

    # Display the world time and day [default: false]
    B:infoWorldTime=false
}


order {
    # Choose this line's priority
    # Also used for infoChunkPos and infoRegionFile [range: 0 ~ 100, default: 2]
    I:lineOrderBlockPos=2

    # Choose this line's priority [range: 0 ~ 100, default: 1]
    I:lineOrderCurrentTime=1

    # Choose this line's priority [range: 0 ~ 100, default: 3]
    I:lineOrderFacing=3

    # Choose this line's priority [range: 0 ~ 100, default: 0]
    I:lineOrderFps=0

    # Choose this line's priority [range: 0 ~ 100, default: 11]
    I:lineOrderLightLevel=11

    # Choose this line's priority [range: 0 ~ 100, default: 10]
    I:lineOrderLookingAtBlock=10

    # Choose this line's priority [range: 0 ~ 100, default: 8]
    I:lineOrderMobCaps=8

    # Choose this line's priority [range: 0 ~ 100, default: 4]
    I:lineOrderPing=4

    # Choose this line's priority [range: 0 ~ 100, default: 6]
    I:lineOrderSeed=6

    # Choose this line's priority [range: 0 ~ 100, default: 7]
    I:lineOrderSlime=7

    # Choose this line's priority [range: 0 ~ 100, default: 5]
    I:lineOrderTps=5

    # Choose this line's priority [range: 0 ~ 100, default: 9]
    I:lineOrderWorldTime=9
}


render {
    # Enables background rendering [default: true]
    B:hudBackground=true

    # Enables text shadow rendering [default: false]
    B:hudTextShadow=false
}


