# Configuration file

all {
    B:"Disable FPS Counter???"=false
    B:"Disable Facing Calculation?"=false
    B:"Disable X Coordinates Calculation?"=false
    B:"Disable Y Coordinates Calculation?"=false
    B:"Disable Z Coordinates Calculation?"=false
    S:"HUD Position(Possible config : top_left , top_right , bottom_left , bottom_right)"=top_right
}


