# Configuration file

cheats {
    D:AirshipDownSpeed=3.0
    D:AirshipMainSpeed=5.0
    D:AirshipUpSpeed=2.0
    B:"Use arrows from player inventory"=true
    B:"Use coal from player inventory"=true
}


general {
    B:Enable_Airship=true
    B:Enable_Pirate=true
    B:Enable_Steamboat=true
    I:Pirate_Max_Pack_Size_per_biome <
        1
        2
     >
    I:Pirate_Spawn_Chance_per_biome <
        2
        1
     >
    S:Pirate_spawn_in_Biomes <
        Ocean
        Plains
     >
    B:show_boiler=true
}


