# Configuration file

upgrades {
    # The ID for the Treat focus upgrade. [range: 85 ~ 32767, default: 102]
    I:TREAT_UPGRADE_ID=102

    # The ID for the Trick focus upgrade. [range: 85 ~ 32767, default: 101]
    I:TRICK_UPGRADE_ID=101
}


