# Configuration file

blocks {
    # Should Agon block be registered? [default: true]
    B:enableAgon=true

    # Should Azur block be registered? [default: true]
    B:enableAzur=true

    # Should Bitt block be registered? [default: true]
    B:enableBitt=true

    # Should Cray block be registered? [default: true]
    B:enableCray=true

    # Should Fort block be registered? [default: true]
    B:enableFort=true
    B:enableGlac=true

    # Should Glaxx block be registered? [default: true]
    B:enableGlaxx=true

    # Should Iszm block be registered? [default: true]
    B:enableIszm=true

    # Should Jelt block be registered? [default: true]
    B:enableJelt=true

    # Should Korp block be registered? [default: true]
    B:enableKorp=true

    # Should Kryp block be registered? [default: true]
    B:enableKryp=true

    # Should Lair block be registered? [default: true]
    B:enableLair=true

    # Should Lave block be registered? [default: true]
    B:enableLave=true

    # Should Mint block be registered? [default: true]
    B:enableMint=true

    # Should Myst block be registered? [default: true]
    B:enableMyst=true

    # Should Reds block be registered? [default: true]
    B:enableReds=true

    # Should Reed block be registered? [default: true]
    B:enableReed=true

    # Should Roen block be registered? [default: true]
    B:enableRoen=true

    # Should Sols block be registered? [default: true]
    B:enableSols=true

    # Should Sync block be registered? [default: true]
    B:enableSync=true

    # Should Tank block be registered? [default: true]
    B:enableTank=true

    # Should Test block be registered? [default: true]
    B:enableTest=false

    # Should Vect block be registered? [default: true]
    B:enableVect=true

    # Should Vena block be registered? [default: true]
    B:enableVena=true

    # Should Zane block be registered? [default: true]
    B:enableZane=true

    # Should Zech block be registered? [default: true]
    B:enableZech=true

    # Should Zest block be registered? [default: true]
    B:enableZest=true

    # Should Zeta block be registered? [default: true]
    B:enableZeta=true

    # Should Zion block be registered? [default: true]
    B:enableZion=true

    # Should Zkul block be registered? [default: true]
    B:enableZkul=true

    # Should Zoea block be registered? [default: true]
    B:enableZoea=true

    # Should Zome block be registered? [default: true]
    B:enableZome=true

    # Should Zone block be registered? [default: true]
    B:enableZone=true

    # Should Zorg block be registered? [default: true]
    B:enableZorg=true

    # Should Ztyl block be registered? [default: true]
    B:enableZtyl=true

    # Should Zyth block be registered? [default: true]
    B:enableZyth=true
}


general {
    # There are 2 modes supported:
    # 0 - Allow chiseling of the Ztones Tile into each of the different types Ztones adds.
    # 1 - Allow chiseling between all the variants within their type. [range: 0 ~ 1, default: 1]
    I:chiselCarvingMode=1

    # Should Chisel recipes for carving of Ztone variants be registered? [default: true]
    B:enableChiselIntegration=true

    # Can mobs spawn on decorative blocks? [default: false]
    B:enableCreatureSpawnOnZtones=false

    # Can Ztone variants be crafted using Ofanix? [default: true]
    B:enableVariantCrafting=true

    # Is Ztone variants scroll-cycling enabled? [default: true]
    B:enableVariantCycling=true
}


items {
    B:" Mini Charcoal"=true

    # Is Diamond Zane enabled? [default: true]
    B:"Diamond Zane"=true

    # Is hunger pill enabled? [default: true]
    B:"MSG Pill"=true

    # Is mini charcoal enabled? [default: true]
    B:"Mini Charcoal"=true

    # Is mini coal enabled? [default: true]
    B:"Mini Coal"=true

    # Is Ofanix tool enabled? [default: true]
    B:Ofanix=true

    # Is Splat Axe enabled? [default: true]
    B:"Splat Axe"=true

    # Is Terrain Eater enabled? [default: true]
    B:"Terrain Eater"=true

    # Is Totem tool enabled? [default: true]
    B:"Totem Tool"=true
}


tweaks {
    # Should random tools appear in dungeon chests? [default: true]
    B:enableChestGen=true
}


