# Configuration file

general {
    # Should the Pearcel Cloud be disabled? [default: true]
    B:"Disable Pearcel Cloud?"=true

    # Prevents the pearcel workbench from working. [default: false]
    B:"Disable Pearcel Workbench"=false

    # Should there be special world gen like Pearcel Stone and Pearcel Sand? [default: true]
    B:"Do Special World Gen?"=true

    # What is the durability of the summoner's activation pearcel? [range: 1 ~ 2147483647, default: 32]
    I:"Durability for Summoner's Activation Pearcel"=32

    # Add Special dice rolls? [default: true]
    B:"Have special dice rolls?"=true

    # What is the max height the Pearcel Staff will give you a boost? [range: 1 ~ 256, default: 150]
    I:"Max height for Pearcel Staff boost"=150

    # Maximum range for the Charged Pearcel Sword's Lightning [range: 1 ~ 100, default: 5]
    I:"Max. Lightning Range"=5

    # Minimum range for the Charged Pearcel Sword's Lightning [range: 0 ~ 99, default: 2]
    I:"Min. Lightning Range"=2

    # What is the frequency of torches that can be placed by the torcher block? [range: 2 ~ 2147483647, default: 2]
    I:"Torcher Frequency"=2

    # What is the range of torches that can be placed by the torcher block? [range: 1 ~ 2147483647, default: 25]
    I:"Torcher Range"=25

    # Should the particles of the Pearcel Cloud be added to the game? [default: true]
    B:"Use Pearcel Cloud Particles?"=true
}


