# Configuration file

##########################################################################################################
# 100-textures
#--------------------------------------------------------------------------------------------------------#
# All the textures that are used in the mod.
##########################################################################################################

100-textures {
    S:chestBreakerTexture=sgs_treasure:chest_breaker
    S:eyePatchModelTexture=sgs_treasure:textures/models/armor/eye_patch.png
    S:eyePathItemTexture=sgs_treasure:eye_patch
    S:goldBrickBlockTexture=sgs_treasure:goldbrick
    S:goldChestTexture=sgs_treasure:textures/entity/chest/locked_wooden_chest.png
    S:goldCoinTexture=sgs_treasure:gold_coin
    S:goldKeyTexture=sgs_treasure:gold_key
    S:goldenChaliceAmbrosiaTexture=sgs_treasure:golden_chalice_ambrosia
    S:goldenChaliceLavaTexture=sgs_treasure:golden_chalice_lava
    S:goldenChaliceTexture=sgs_treasure:golden_chalice
    S:goldenChaliceWaterTexture=sgs_treasure:golden_chalice_water
    S:gravestone1ParticleTexture=sgs_treasure:gravestone1
    S:gravestone1Texture=sgs_treasure:textures/blocks/gravestone1.png
    S:gravestone2ParticleTexture=sgs_treasure:gravestone2
    S:gravestone2Texture=sgs_treasure:textures/blocks/gravestone2.png
    S:gravestone3ParticleTexture=sgs_treasure:gravestone3
    S:gravestone3Texture=sgs_treasure:textures/blocks/gravestone3.png
    S:hermitSpawnEggTexture=sgs_treasure:hermit_spawn_egg
    S:ironChestTexture=sgs_treasure:textures/entity/chest/iron_chest.png
    S:ironKeyTexture=sgs_treasure:iron_key
    S:obsidianChestTexture=sgs_treasure:textures/entity/chest/obsidian_chest.png
    S:obsidianKeyTexture=sgs_treasure:obsidian_key
    S:obsidianParticleTexture=sgs_treasure:planks_obsidian_chest
    S:painting1x1ItemTexture=sgs_treasure:painting_item1x1
    S:painting1x1Texture=sgs_treasure:textures/blocks/painting1x1-default64.png
    S:painting2x1ItemTexture=sgs_treasure:painting_item2x1
    S:painting2x1Texture=sgs_treasure:textures/blocks/painting2x1-default64.png
    S:paintingParticleTexture=sgs_treasure:painting_particle
    S:pirateChestTexture=sgs_treasure:textures/entity/chest/pirate_chest.png
    S:pirateKeyTexture=sgs_treasure:pirate_key
    S:pirateParticleTexture=sgs_treasure:planks_pirate_chest
    S:silverCoinTexture=sgs_treasure:silver_coin
    S:skeletonChestTexture=sgs_treasure:textures/entity/chest/dread_pirate_chest.png
    S:skeletonItemTexture=sgs_treasure:skeleton_item
    S:skeletonKeyTexture=sgs_treasure:skeleton_key
    S:skeletonParticleTexture=sgs_treasure:skeleton_icon
    S:skeletonTexture=sgs_treasure:textures/blocks/skeleton.png
    S:skeletonWarriorSpawnEggTexture=sgs_treasure:skeleton_warrior_spawn_egg
    S:skullAndBonesParticleTexture=sgs_treasure:skullandcrossbones
    S:skullAndBonesTexture=sgs_treasure:textures/blocks/skullandcrossbones.png
    S:skullSwordTexture=sgs_treasure:skull_sword
    S:transparentRenderTexture=sgs_treasure:textures/blocks/transparent.png
    S:transparentTexture=sgs_treasure:transparent
    S:treasureTabTexture=sgs_treasure:treasure_tab
    S:wishingWellTexture=cobblestone_mossy
    S:witherBranchTexture=sgs_treasure:textures/blocks/wither_branch.png
    S:witherChestTexture=sgs_treasure:textures/entity/chest/wither_chest.png
    S:witherKeyTexture=sgs_treasure:wither_key
    S:witherLogSpawnerTexture=sgs_treasure:textures/blocks/wither_log_spawner.png
    S:witherLogTexture=sgs_treasure:wither_log
    S:witherLogTopTexture=sgs_treasure:wither_log_top
    S:witherRootItemTexture=sgs_treasure:wither_root
    S:witherRootTexture=sgs_treasure:textures/blocks/wither_root.png
    S:witherStickItemTexture=sgs_treasure:wither_stick
    S:woodenChestTexture=sgs_treasure:textures/entity/chest/wooden_chest.png
    S:woodenParticleTexture=sgs_treasure:planks_wooden_chest
}


