# Configuration file

consume_effect {
    # Enable/disable whether CONSUMING buff item does anything AND whether heartStart will be in effect (items will still be in game and consumable) [Default: true]
    B:enabled=true
}


damage {
    # Enter (INTEGER) Damage Buff consumation limit [Default: -1 (no limit)]
    I:damageLimit=-1

    # Enter (DOUBLE) modifier - retroactive [Default: 0.5 (50% normal punching damage)]
    D:damageModifier=0.5

    # (TRUE) will OVERWRITE NBT data with (up to) imposed limit [Default: false]
    B:damageRetrofit=false
}


hearts {
    # Enter (INTEGER) Heart Health consumation limit [Default: -1 (no limit)]
    I:heartLimit=40

    # Enter (DOUBLE) modifier - retroactive [Default: 2.0 (1 heart)]
    D:heartModifier=2.0

    # (TRUE) will OVERWRITE NBT data with (up to) imposed limit [Default: false]
    B:heartRetrofit=false

    # Enter (DOUBLE) health limit {mod forces 0.5 if < 0.5} [Default: 20.0 (10 Hearts)]
    D:heartStart=20.0
}


item_ignore {
    # Enter comma separated list of DISPLAY NAMES to prevent player from picking up those items (e.g. Rotten Flesh,Carrot,Diamond Pickaxe [Default: ])
    S:ignoreList=
}


legacy {
    # Enter (INTEGER) for legacy items 'buffing' (killCount/legacyMitigator = bonus damage/recovery/etc.) [Default: 75]
    I:legacyMitigator=75

    # Enter (BOOLEAN) legacy item chat displays [Default: true]
    B:legacyNotifications=true

    # Enter (INTEGER) for use restriction threshold [Default: 200]
    I:legacyThresholdHammer=200

    # Enter (INTEGER) for use restriction threshold [Default: 150]
    I:legacyThresholdScythe=150
}


